<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DFCPS_MANUFACTURING_SYSTEM.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <DFCPS_MANUFACTURING_SYSTEM.My.MySettings>
      <setting name="mUserDB" serializeAs="String">
        <value />
      </setting>
      <setting name="mServer" serializeAs="String">
        <value />
      </setting>
      <setting name="mPassDB" serializeAs="String">
        <value />
      </setting>
      <setting name="mDBname" serializeAs="String">
        <value />
      </setting>
      <setting name="printerName" serializeAs="String">
        <value />
      </setting>
    </DFCPS_MANUFACTURING_SYSTEM.My.MySettings>
  </userSettings>
  <connectionStrings>
    <add name="DFCPS_MANUFACTURING_DBEntities" connectionString="metadata=res://*/Accounting.Model1.csdl|res://*/Accounting.Model1.ssdl|res://*/Accounting.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=DFCPS_MANUFACTURING_DB;User ID=sa;Password=passwork;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DFCPS_MANUFACTURING_SYSTEM.My.MySettings.DFCPS_MANUFACTURING_DBConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=DFCPS_MANUFACTURING_DB;User ID=sa;Password=passwork"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>